.container-home {
  margin: 3% 4% 0 4%;
}
.promo-container {
  display: flex;
  justify-content: space-around;
  height: 100px;
  margin: 0 0 2% 0;
}
.category-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2% 0 0 0;
}
.pertama {
  margin: 0 0 2% 0;
}
.promo-flex {
  width: auto;
  height: auto;
}
.category-name {
  width: max-content;
  border-radius: 8px;
  margin: 0 3% 0 3%;
  font-size: 13px;
  padding: 10px 30px;
  background-color: #e7e7e7;
}
.color-hijau {
  background-color: rgb(0, 194, 0);
  color: white;
}
.color-kuning {
  background-color: #FFC947;
}
.color-biru {
  background-color: #185ADB;
  color: white;
}
.color-hitam {
  background-color: #0A1931;
  color: white;
}
.category-inside {
  height: 20px;
  max-width: 200px;
}


.flash-sale-section {
  border-top: 1px solid rgb(230, 230, 230);
  margin: 55px 7px 10px 0;
}
.container-flash-sale-home {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 30%;
  margin: 20px 7px 10px 0;
  border-radius: 8px;
  padding: 10px 17px;
  background-color:rgb(247, 247, 247);
}
.rundown {
  display: flex;
  justify-content: space-evenly;
}

.rekomendasi-section {
  border-top: 1px solid rgb(230, 230, 230);
  margin: 55px 7px 10px 0;
}