.container-home {
  margin: 3% 3.3% 0 3.3%;
}
.promo-container {
  display: flex;
  justify-content: space-around;
  height: 100px;
  margin: 0 0 2% 0;
}
.category-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2% 0 0 0;
}
.pertama {
  margin: 0 0 2% 0;
}
.promo-flex {
  width: auto;
  height: auto;
}
.category-name {
  width: max-content;
  border-radius: 8px;
  margin: 0 3% 0 3%;
  font-size: 13px;
  padding: 10px 30px;
  background-color: #e7e7e7;
}
.color-hijau {
  background-color: rgb(0, 194, 0);
  color: white;
}
.color-kuning {
  background-color: #FFC947;
}
.color-biru {
  background-color: #185ADB;
  color: white;
}
.color-hitam {
  background-color: #0A1931;
  color: white;
}
.category-inside {
  height: 20px;
  max-width: 200px;
}


.flash-sale-section {
  border-top: 1px solid rgb(230, 230, 230);
  margin: 55px 7px 55px 0;
}
.container-flash-sale-home {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 40%;
  border-radius: 8px;
  padding: 5px 35px;
  background-color: #185ADB;
  color: white;
}
.rundown {
  display: flex;
  justify-content: space-evenly;
}
.rundown p {
  background-color: rgb(255, 0, 0);
  margin: 6px;
  padding: 6px;
  font-weight: 700;
}
.rundown h1 {
  color: white;
  display: flex;
  align-items: center;
  font-size: 20px;
}


.container-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 18px;
}
.home-text {
  font-size: 22px;
}
.home-text-lihat-semua {
  font-size: 18px;
  font-weight: 800;
  color: #185ADB;
  cursor: pointer;
}
.terlaris-section {
  border-top: 1px solid rgb(230, 230, 230);
  margin: 55px 7px 10px 0;
}
.rekomendasi-section {
  border-top: 1px solid rgb(230, 230, 230);
  margin: 55px 7px 10px 0;
}

.jumbotron-home {
  width: 100%;
}