.header-parent-container {
  position: sticky;
  top: 0px;
  right: 0px;
  left: 0px;
  z-index: 999;
}

.container-header-top {
  display: flex;
  justify-content: flex-end;
  padding: 0.6% 4% 0.6% 4%;
  background-color: rgb(247, 247, 247);
}

.container-inside-cht {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  width: 15%;
  font-size: 13.5px;
}

.parent-header-container {
  box-shadow: rgb(0 0 0 / 7%) 0px 4px 6px;
  height: 70px;
  padding: 13px 4% 0px 4%;
  background-color: white;
}

.header-buyers-container {
  display: flex;
  align-items: center;
}

.header-buyers-container-bottom {
  display: flex;
  margin-top: 8px;
}

.category-div {
  flex: 0.5;
}

.category-div-1 {
  flex: 1;
  font-size: 14px;
  color: #C4C4C4;
  display: flex;
  justify-content: space-between;
}

.category-div-2 {
  flex: 1;
  font-size: 14px;
  color: rgb(80, 80, 80);
  display: flex;
  justify-content: flex-end;
}

.header-brand {
  display: flex;
  justify-content: start;
  align-items: center;
}

.link {
  text-decoration: none;
}

.category-hb-container {
  display: flex;
  justify-content: space-evenly;
  font-weight: 800;
  font-size: 17px;
}

.hb-left {
  flex: 0.6;
}

.hb-center {
  flex: 1.3;
}

.hb-center-2 {
  flex: 1.7;
}

.hb-right {
  flex: 1.1;
}

.hb-right-notuser {
  flex: 0.7;
}