.header-buyers-container {
  display: flex;
  position: sticky;
  background-color: white;
  align-items: center;
  box-shadow: rgb(0 0 0 / 7%) 0px 4px 6px;
  height: 100px;
  padding: 0 4% 0 4%;
  top: 0px;
  right: 0px;
  left: 0px;
  z-index: 999;
}

.header-brand {
  font-weight: 800;
  font-size: 23px;
  color: #052c43;
}

.dot-header {
  color: #89adc3;
}

.link {
  text-decoration: none;
}

.hb-left {
  flex: 0.8;
}

.hb-center {
  flex: 2;
}

.hb-right {
  flex: 1;
}

.hb-right-notuser {
  flex: 0.9;
}