.jumbotron-container {
  width: 100%;
  height: auto;
}

.botton-jbt-shop {
  display: flex;
  position: sticky;
  align-items: center;
  justify-content: center;
  margin-top: -100px;
  margin-left: 7%;
  background-color: #185ADB;
  width: fit-content;
  height: 37px;
  padding: 0 25px;
  font-weight: 800;
  border-radius: 5px;
  font-size: 13px;
  letter-spacing: 0.5px;
  color: white;
}