.product-list-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.product-list-container-fs {
  display: flex;
  justify-content: space-between;
}
.product-list-container-2 {
  display: flex;
}
.full-list {
  margin-top: 25px;
  margin-bottom: 10px;
}
.pl-card {
  display: flex;
  justify-content: space-around;
  flex: 1;
}
.pl-left {
  flex: 1;
}
.pl-right {
  flex: 1;
  background-color: rgb(180, 180, 180);
}


.card-container {
  width: 196px;
  height: 100%;
  border-radius: 8px;
  box-shadow: rgb(0 0 0 / 12%) 0px 0px 7px;
}
.product-info-cont {
  padding: 5px 10px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.card-content {
  border-radius: 8px;
  background-color: white;
}
.product-img {
  width: 100%;
  height: 50%;
}
.product-img img{
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.product-name {
  width: 100%;
  font-size: 13px;
  height: fit-content;
  max-height: 50px;
}
.jenis-usaha {
  width: fit-content;
  height: fit-content;
  margin: -5px 0 5px 0;
  color: white;
  border-bottom-right-radius: 10px;
  background-color: red;
}
.jenis-usaha p {
  font-size: 11.5px;
  padding: 3px 13px 3px 10px;
}
.jenis-usaha.tk-UMKM {
  background-color: #185ADB;
}
.jenis-usaha.tk-Toko {
  background-color: green;
}
.jenis-usaha.tk-Distributor {
  background-color: orange;
}
.product-price-and-sold {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}
.product-price-and-sold :nth-child(1) {
  font-weight: 800;
  color: red;
  font-size: 14px;
}
.product-price-and-sold :nth-child(2) {
  display: flex;
  font-weight: 700;
  color: rgb(150, 150, 150);
  align-items: center;
  font-size: 11px;
}
.workshop-location {
  margin-top: 9px;
  display: flex;
  justify-content: space-between;
}
.workshop-location :nth-child(1) {
  font-size: 11px;
  font-weight: bold;
}
.diskon {
  margin-top: 10px;
  margin-right: 10px;
  font-size: 11px;
  font-weight: 700;
  width: fit-content;
  background-color: green;
  color: white;
  padding: 3px 8px;
  border-radius: 3px;
}
.potongan {
  display: flex;
  font-weight: bold;
  align-items: center;
  margin-top: 10px;
}
.color-text-50 {
  background-color: #185ADB !important;
  color: white;
}
.color-text-40 {
  background-color: #FFC947 !important;
}
.color-text-30 {
  background-color: #0A1931 !important;
  color: white;
}

.lm-container {
  display: flex;
  justify-content: center;
}
.load-more {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  background-color: #185ADB;
  border-radius: 8px;
  margin: 3% 0 2% 0;
  width: 240px;
  height: 45px;
  font-weight: 700;
}

.container-slider-flash-sale {
  width: 100%;
  height: 310px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.container-fs:hover .button-slider-fs {
  display: block;
}
.button-slider-fs {
  display: none;
}


.container-fs {
  position: relative;
  width: 100%;
}
.product-list-container-fs {
  display: flex;
  position: relative;
  overflow: hidden;
  padding: 0 0 5px 0;
}
.pl-left-fs {
  flex: 1;
  margin-right: 15px;
}
.pl-card-fs {
  display: flex;
  justify-content: space-around;
  flex: 1;
  transition: 2s ease-in-out;
}